{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="mt-[9px] mb-[110px]" x-data="wishlistController">
        <div id="catalog-header" class="flex gap-[18px] items-center mb-[40px]">
            <h1 class="font-bold text-[30px] text-[#2C333D]">
                Избранные товары
            </h1>
        </div>
        <div class="grid grid-cols-[minmax(250px,_20vw)_1fr] gap-[20px]">
            <div class="flex flex-col shadow-md rounded-lg h-fit px-6">
                <div class="text-[#186FD4] font-bold py-5 uppercase flex justify-between items-center">
                    <p class="text-[13px]">Все категории</p>
                    <p class="border rounded-3xl h-fit font-medium text-[11px] py-1.5 px-2"
                       x-text="data ? data.categories.products_count : 0"></p>
                </div>
                <template x-if="data">
                    <template x-for="category in data.categories.categories">
                        <div class="flex justify-between items-center border-t py-5 font-medium uppercase hover:text-[#186FD4]">
                            <a class="text-[13px]" :href="`/catalog/${category.slug}`" x-text="category.name"></a>
                            <p class="border rounded-3xl h-fit text-[#686868] text-[11px] py-1.5 px-2"
                               x-text="category.products_count"></p>
                        </div>
                    </template>
                </template>
                <button @click="move_products_to_cart" id="filters-request-btn"
                        class="bg-primary text-white text-[13px] font-bold rounded py-[15px] mt-4 uppercase">
                    Добавить все в корзину
                </button>
                <button @click="clear_wishlist" id="filters-request-btn"
                        class="bg-[#F6F8FB] text-[#117FE3] text-[13px] font-medium rounded py-[15px] mt-4 mb-6">
                    Очистить список
                </button>
            </div>
            <div class="flex flex-col gap-10">
                <div>
                    <div class="flex items-center gap-2.5">
                        <p>Показать по:</p>
                        <div class="flex items-center gap-2.5">
                            <button @click="setPagination(9)"
                                    :style="paginate == 9 ? 'background-color: #F6F8FB; color:#186FD4; border: none;' : ''"
                                    class="paginate_by rounded border border-[#EEEEEE] hover:border-none hover:bg-[#F6F8FB] hover:text-[#186FD4] w-[50px] h-[45px]">
                                9
                            </button>
                            <button @click="setPagination(12)"
                                    :style="paginate == 12 ? 'background-color: #F6F8FB; color:#186FD4; border: none;' : ''"
                                    class="paginate_by rounded border border-[#EEEEEE] hover:border-none hover:bg-[#F6F8FB] hover:text-[#186FD4] w-[50px] h-[45px]">
                                12
                            </button>
                            <button @click="setPagination(18)"
                                    :style="paginate == 18 ? 'background-color: #F6F8FB; color:#186FD4; border: none;' : ''"
                                    class="paginate_by rounded border border-[#EEEEEE] hover:border-none hover:bg-[#F6F8FB] hover:text-[#186FD4] w-[50px] h-[45px]">
                                18
                            </button>
                            <button @click="setPagination(24)"
                                    :style="paginate == 24 ? 'background-color: #F6F8FB; color:#186FD4; border: none;' : ''"
                                    class="paginate_by rounded border border-[#EEEEEE] hover:border-none hover:bg-[#F6F8FB] hover:text-[#186FD4] w-[50px] h-[45px]">
                                24
                            </button>
                        </div>
                    </div>
                </div>
                <div id="products-container"
                     class="grid grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 mb-[90px] gap-[17px]">
                    <template x-if="data && data.results">
                        <template x-for="product in data.results">
                            <article class="flex h-full w-full flex-col px-[15px] gap-2.5">
                                <div class="p-3.5">
                                    <img class="w-[248px] h-[202px]" :src="product.cover_url"
                                         :alt="product.name"/>
                                </div>
                                <p style="color: #A8ADB2;" class="text-sm text-[#A8ADB2]"
                                   x-text="'Артикул: ' + product.sku"></p>
                                <p class="font-medium text-lg leading-[26px] py-2.5" x-text="product.name"></p>
                                <div class="flex items-center">
                                    <template x-if="product.discount && product.discount > 0">
                                        <del style="color: #8F9296;" class="mr-2.5" x-text="product.price + ' ₽'"></del>
                                    </template>
                                    <p style="color: #003B73;"
                                       class="font-semibold text-xl text-[#003B73] mr-[7px]"
                                       x-text="product.get_discount_price + ' ₽'">
                                    </p>
                                    <template x-if="product.discount && product.discount > 0">
                                        <p class="bg-[#1B9665] py-[3px] px-[5px] font-bold rounded text-white text-[11px]"
                                           x-text="'-' + product.discount + '%'">
                                        </p>
                                    </template>
                                </div>
                                <div class="flex items-center justify-between h-[40px]">
                                    <a class="flex items-center gap-2.5 bg-primary rounded font-medium text-white px-4 h-full"
                                       :href="`/catalog/product/${product.slug}/`"
                                    ><img
                                            src="{% static 'images/white-cart.svg' %}" alt="Иконка корзины"> Купить</a>
                                    <div class="flex items-center gap-[9px] h-full">
                                        <button @click="product.wishlist ? removeFromWishlist(product.id, $el) : addToWishlist(product.id, $el)"
                                                style="border-color: #F3F4F5;"
                                                class="rounded h-full border px-[11px] border-[#F3F4F5]">
                                            <svg
                                                    :style="product.wishlist ? 'color: #186FD4; fill: #186FD4;' : ''"
                                                    width="17"
                                                    height="14" viewBox="0 0 26 23" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13 6.5C13 6.5 14.4034 1.5 18.8475 1.5C22.3092 1.5 24.5 4.3666 24.5 7.7626C24.5 12.4594 19.9359 15.5694 13 21.5C6.06418 15.5694 1.5 12.4594 1.5 7.7626C1.5 4.3666 3.69085 1.5 7.15254 1.5C11.5966 1.5 13 6.5 13 6.5Z"
                                                      stroke="currentColor" stroke-width="1.6" stroke-miterlimit="10"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </button>
                                        <button style="border-color: #F3F4F5;"
                                                class="rounded h-full border px-[11px] border-[#F3F4F5]"><img
                                                class="h-[18px] w-[14px]" src="{% static 'images/chart-icon.svg' %}"
                                                alt="Иконка для сравнения продукта"></button>
                                    </div>
                                </div>
                            </article>
                        </template>
                    </template>
                </div>
                <div class="flex gap-2.5">
                    <div class="flex gap-2.5 w-full justify-center">
                        <button @click="data.previous ? fetchProducts(data.current_page - 1) : ''"
                                id="pagination-prev-btn"
                                class="border hover:text-white hover:bg-black py-[20px] px-[24px] rounded border-[#DFDFDF] cursor-pointer">
                            Назад
                        </button>
                        <template x-for="pagination in pagination_range">
                            <button @click="fetchProducts(pagination)" x-text="pagination"
                                    :class="pagination == data.current_page
                                        ? 'py-5 px-6 border rounded-lg flex justify-center items-center gap-2.5 cursor-pointer bg-black text-white'
                                        : 'py-5 px-6 border rounded-lg border-[#DFDFDF] flex justify-center items-center gap-2.5 cursor-pointer hover:bg-black hover:text-white'">
                            </button>
                        </template>
                        <button @click="data.next ? fetchProducts(data.current_page + 1) : ''" id="pagination-next-btn"
                                class="border hover:text-white hover:bg-black py-[20px] px-[24px] rounded border-[#DFDFDF] cursor-pointer">
                            Вперед
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/wishlist.js' %}"></script>
    <script>
        function wishlistController() {
            return {
                paginate: 9,
                products: [],
                fetchUrl: new URL('/api/v1/wishlist/list/me', window.location.origin),
                data: null,

                async init() {
                    await this.fetchProducts();
                },

                async move_products_to_cart() {
                    const response = await api('/api/v1/wishlist/move_to_cart/me/', {
                        method: 'POST',
                    })

                    const data = await response.json()

                    console.log(data)

                    if (data.success) {
                        location.reload();
                    }
                },

                async clear_wishlist() {
                    const response = await api('/api/v1/wishlist/clear/me/', {
                        method: 'POST',
                    })
                    const data = await response.json()

                    console.log(data)
                    if (data.success) {
                        location.reload();
                    }
                },

                async setPagination(paginate) {
                    this.paginate = paginate;
                    this.fetchUrl.searchParams.set('paginate_by', paginate);
                    await this.fetchProducts()
                },

                async fetchProducts(page = null) {
                    const url = this.fetchUrl;

                    if (page) {
                        url.searchParams.set('page', page);
                    }

                    const response = await api(this.fetchUrl.toString(), {
                        'method': 'GET',
                    })

                    const data = await response.json();

                    console.log(data);

                    this.data = data.data;
                },

                get pagination_range() {
                    if (!this.data) return [];

                    const current = this.data.current_page;
                    const total = this.data.max_page;
                    const delta = 2;
                    const range = [];
                    const left = Math.max(1, current - delta);
                    const right = Math.min(total, current + delta);

                    if (left > 2) {
                        range.push(1);
                        range.push("...");
                    } else {
                        for (let i = 1; i < left; i++) {
                            range.push(i);
                        }
                    }

                    for (let i = left; i <= right; i++) {
                        range.push(i);
                    }

                    if (right < total - 1) {
                        range.push("...");
                        range.push(total);
                    } else {
                        for (let i = right + 1; i <= total; i++) {
                            range.push(i);
                        }
                    }

                    return range;
                },
            }
        }
    </script>
{% endblock %}
