# Django

DEBUG=True

SECRET_KEY=django-insecure-*^3a#q_ib4%*q6^h3ab4dnx8c9houo742^ndgwd1_y)$z5x7ki

# Redis

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=1

# ElasticSearch

ES_HOST=localhost
ES_PORT=9200
ES_SCHEME=http
ES_USERNAME=None
ES_PASSWORD=None

# Email

EMAIL_HOST_USER=bagdatfat@gmail.com
EMAIL_HOST_PASSWORD=ogrlmgtokubkrxvi

# Stripe

STRIPE_API_KEY=
STRIPE_ENDPOINT_KEY=

# Google auth

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_CALLBACK_URL=