{% extends 'users/account/account.html' %}
{% load static %}

{% block account_content %}
    <div x-data="passwordChangeController">
        <h3 class="h3 mb-6">Сменить пароль</h3>
        <form class="flex flex-col border rounded-lg p-10  w-max" @submit.prevent="submit">
            <template x-if="errors">
                <div class="p-5 rounded-lg border-dashed border border-[#E52B0E] bg-[#FFF9F9] text-[#E52B0E]">
                    <template x-for="(messages, field) in errors" :key="field">
                        <template x-for="msg in messages" :key="msg">
                            <p x-text="msg"></p>
                        </template>
                    </template>
                </div>
            </template>
            <label for="current_password" class="pb-2.5">Текущий пароль <span class="text-[#E52B0E]">*</span>:</label>
            <input class="rounded-lg" id="current_password" type="text" x-model="current_password"
                   placeholder="Введите текущий пароль"
                   :class="`block h-[61px] mb-2 w-full border px-3 py-2 ${errors && errors.current_password ? 'border-[#E52B0E]' : ''}`"
                   required>
            <label for="password1" class="pb-2.5">Новый пароль <span class="text-[#E52B0E]">*</span>:</label>
            <input class="rounded-lg" id="password1" type="text" x-model="new_password1"
                   placeholder="Введите пароль"
                   :class="`block h-[61px] mb-2 w-full border px-3 py-2 ${errors && errors.current_password ? 'border-[#E52B0E]' : ''}`"
                   required>
            <label for="password2" class="pb-2.5">Текущий пароль <span class="text-[#E52B0E]">*</span>:</label>
            <input class="rounded-lg" id="password2" type="text" x-model="new_password2"
                   placeholder="Введите пароль"
                   :class="`block h-[61px] mb-2 w-full border px-3 py-2 ${errors && errors.current_password ? 'border-[#E52B0E]' : ''}`"
                   required>
            <button type="submit"
                    class="bg-[#186FD4] w-full h-[61px] rounded-lg uppercase font-bold text-[13px] text-white px-8 py-6 mt-4">
                Сохранить
            </button>
        </form>
    </div>
{% endblock %}

{% block account_script %}
    <script>
        function passwordChangeController() {
            return {
                current_password: '',
                new_password1: '',
                new_password2: '',

                errors: null,

                async submit() {
                    const response = await api('/api/v1/auth/password/change/', {
                        'method': 'POST',
                        'headers': {
                            'Content-Type': 'application/json',
                        },
                        'body': JSON.stringify({
                            current_password: this.current_password,
                            new_password1: this.new_password1,
                            new_password2: this.new_password2
                        })
                    })

                    if (!response.ok) {
                        const errors = await response.json()
                        this.errors = errors.error
                        console.log(errors)
                        return
                    }

                    const data = await response.json()

                    console.log(data)
                }


            }
        }
    </script>
{% endblock %}